@use "abstracts/responsiveness";
@use "abstracts/theme";
@use "layouts/theme-switcher";
@use "components/screen";
@use "components/buttons";
@use "components/lables";
@use "layouts/header";
@use "layouts/containers";

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  background-color: var(--main-background);
}

input[type="radio"] {
  margin: 0;
  padding: 0;
}
