.calc-title {
  color: var(--text-color);
  font-size: 2rem;
  padding-top: 0.2em;
}

.theme-headers {
  display: flex;
  justify-content: space-around;
}

.theme-title {
  color: var(--text-color);
  align-self: flex-end;
  margin-left: 7em;
  font-size: 13px;
}
