.btn-key {
  text-align: center;
  background-color: var(--key-secondary-bg);
  border-bottom: 3px solid var(--key-secondary-shadow);
  font-size: 2rem;
  padding: 0.4em;
  color: var(--key-secondary-text-color);
}
