.radio-label {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.radio-label input {
  opacity: 0;
}

.radio-label .checkmark {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: var(--toggle-key-bg);
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  opacity: 0;
  margin: auto;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.radio-label input:checked + .checkmark {
  display: inline-block;
  opacity: 1;
}

.radio-label input:focus + .checkmark {
  box-shadow: 0 0px 8px white;
}

.theme-header-label {
  color: var(--toggle-key-text);
  font-size: 12px;
}
