.screen-input {
  background-color: var(--screen-bg);
  padding: 0.5em 0.6em 0.75em 0.3em;
  width: 100%;
  border: none;
  text-align: right;
  color: var(--text-color);
  font-size: 2.3rem;
  font-weight: 700;
  border-radius: 10px;
}
